h1 {
  text-align: center;
}

h3{
  text-align: center;
}

h2 {
  padding-left: 10px;
  padding-right: 10px;
}
.panel-heading{
   background-color: #00008B !important;
}
.panel-body{
  padding-bottom:0;
}

#search {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: grey;
  color: white;
  text-align: center;
  
}